@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');


$color-cyan-0: #00ffff;
$color-cyan-1: #00e5e6;
$color-cyan-2: #00cccc;
$color-cyan-3: #00b2b3;
$color-cyan-4: #009999;
$color-cyan-5: #007f80;
$color-cyan-6: #006666;
$color-cyan-7: #004c4d;
$color-cyan-8: #003333;
$color-cyan-9: #00191a;
$color-grey-0: #f3f3f3;
$color-grey-1: #808080;
$color-grey-2: #0d0d0d;
$color-black: #000000;
$color-red-0: #dd2222;
$color-red-1: #eb7a7a;
$color-green-0: #00ff00;
$color-green-1: #66ff66;

$text-font-stack: "Poppins", "Arial", sans-serif;
$large-size: 2rem;
$medium-size: 1.5rem;
$small-size: 1rem;
$medium-weight: 500;
$semi-bold-weight: 600;
$bold-weight: 700;
$extra-bold-weight: 800;
$black-weight: 900;