@use '../scss/abstracts/index.scss' as *;

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(60deg, rgba(0, 76, 77, 1) 6%, rgba(0, 127, 128, 1) 18%, rgba(0, 229, 230, 1) 45%, rgba(0, 178, 179, 1) 74%, rgba(0, 255, 90, 1) 97%);
    overflow-y: auto;
}

.content {
    width: 100vw;
    height: 100vh;
}

.content_figure {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__fig {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    &__img {
        max-width: 500px;
        width: 100%;
    }
}

.content_forms {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.forms {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    background-color: #ffffff6e;
    border-radius: 4px;
    border: solid 2px $color-grey-0;
    padding: 15px;
    row-gap: 20px;

    &__title {
        font-family: $text-font-stack;
        font-size: $large-size;
        font-weight: $bold-weight;
    }

    &__content_input {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__label {
        font-size: $medium-size;
        font-weight: $semi-bold-weight;
        font-family: $text-font-stack;
    }

    &__content_buttons {
        padding: 14px 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        width: 40%;
        height: 40px;
        padding: 8px 1rem;
        border-radius: 6px;
        background: linear-gradient(200deg,
                $color-cyan-0,
                $color-grey-1);
        color: #fff;
        font-size: $medium-size;
        font-weight: $semi-bold-weight;
        box-shadow: 0 6px 24px $color-cyan-4;
        margin-bottom: 1rem;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background: linear-gradient(200deg,
                    $color-cyan-9,
                    $color-grey-1);
            color: #fff;
            border: 2px solid $color-cyan-4;
            box-shadow: 0 6px 24px $color-cyan-4;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 40px;
        padding: 8px 1rem;
        border-radius: 6px;
        background: linear-gradient(200deg,
                $color-cyan-0,
                $color-grey-1);
        color: #fff;
        font-size: $medium-size;
        font-weight: $semi-bold-weight;
        box-shadow: 0 6px 24px $color-cyan-4;
        margin-bottom: 1rem;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background: linear-gradient(200deg,
                    $color-cyan-9,
                    $color-grey-1);
            color: #fff;
            border: 2px solid $color-cyan-4;
            box-shadow: 0 6px 24px $color-cyan-4;
        }
    }

    &__input {
        width: 100%;
        padding: 14px 12px;
        border-radius: 6px;
        border: 2px solid $color-grey-0;
        background-color: hsla(249, 17%, 92%, 0.177);
        color: $color-black;
        font-size: $medium-size;
        font-weight: $medium-weight;
        transition: border 1.4s;

        &::placeholder {
            font-size: $medium-size;
            color: $color-grey-1;
        }

        &:focus,
        &:valid {
            border: 2px solid $color-cyan-1;
        }


    }
}